body,html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #3E4D60;
}

.box {
	position: relative;
}

.launcher {
	position: absolute;
	bottom: 50%;
	right: 50%;
	height: 80px;
	width: 80px;
	display: block;
	background: #fff;
	padding: 9px 16px 16px 9px;
	opacity: 1;
	@include transform(translate(50%,50%));
	@include rounded(100px);
	@include box-shadow-multi(0px 3px 1px rgba(0,0,0,0.2), inset 0 -2px 0 rgba(0,0,0,0.5));
	@include transition(.1s ease-in-out);
	a {
		display: block;
		border: 3px solid #A32424;
		height: 100%;
		width: 100%;
		background: #F02222;
		line-height: 80px;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		@include text-shadow(0,2px,0,rgba(0,0,0,0.3));
		@include gradient(#D71E1E,#F02222);
		@include box-shadow-multi(inset 0 -3px 0 rgba(0, 0, 0, 0.2), inset 0 3px 0px #FF5959);
		@include rounded(100px);
		&:hover {
			@include gradient(#F24646,#F02222);
		}
		&:active {
			color: #A32424;
			@include text-shadow(0,1px,0,rgba(255,255,255,0.3));
			@include box-shadow-inset(0,3px,0,rgba(0, 0, 0, 0.2));
		}
	}
	&.hide-me {
		opacity: 0;
	}
}

#fly-me {
	position: absolute;
	left: 50%;
	bottom: 0;
	@include transform(translate(-50%, 0));
}

.to-the-moon {
	@include animation(fly-high 15s linear);
}

// Animations

@include keyframes(fly-high) {
	0%		{bottom: 0%;}
	5%		{bottom: 5%;}
	10%		{bottom: 10%;}
	15%		{bottom: 15%;}
	20%		{bottom: 20%;}
	25%		{bottom: 25%;}
	30%		{bottom: 30%;}
	40%		{bottom: 40%;}
	55%		{bottom: 55%; @include transform(rotate(0deg) translate(-50.2%, 0));}
	75%		{bottom: 75%; @include transform(rotate(2deg) translate(-50.4%, 0));}
	100% 	{bottom: 110%; @include transform(rotate(3deg) translate(-50.8%, 0));}
}