body,html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #384B64;
}

.box {
	position: relative;
}

.launcher {
	position: absolute;
	bottom: 50%;
	right: 50%;
	height: 80px;
	width: 80px;
	display: block;
	background: #fff;
	padding: 9px 16px 16px 9px;
	@include transform(translate(50%,50%));
	@include rounded(100px);
	@include box-shadow-multi(0px 3px 1px rgba(0,0,0,0.2), inset 0 -2px 0 rgba(0,0,0,0.5));
	a {
		display: block;
		border: 3px solid #A32424;
		height: 100%;
		width: 100%;
		background: #F02222;
		@include gradient(#D71E1E,#F02222);
		@include box-shadow-multi(inset 0 -3px 0 rgba(0, 0, 0, 0.2), inset 0 3px 0px #FF5959);
		@include rounded(100px);
		&:hover {
			@include gradient(#F24646,#F02222);
		}
		&:focus {
			@include box-shadow-inset(0,3px,0,rgba(0, 0, 0, 0.2));
		}
	}
}

#fly-me {
	height: 40px;
	width: 10px;
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(255,255,255,0.5);
	position: absolute;
	bottom: 0;
	left: 50%;
	@include transform(translate(50%, 0%));
}

.to-the-moon {
	@include animation(fly-high 10s linear);
}

// Animations

@-webkit-keyframes fly-high {
	0%		{bottom: 0%;}
	10%		{bottom: 10%;}
	20%		{bottom: 20%;}
	30%		{bottom: 30%; left: 50%;}
	60%		{left: 51%;}
	90%		{left: 53%;}
	100% 	{bottom: 150%;}
}