/*!
Description: Playing around with some css and js animations
Version:     1.0.0
Author:      curateco.de || wwn.la
Author URI:  http://curateco.de
*/
@import "../../node_modules/normalize.scss/normalize.scss";
@import "mixin";
@import "main";